:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f1f5f9;
  color: #111827;
}

/* Remove Vite center layout */
body {
  margin: 0;
  min-height: 100vh;
  display: block;
}

/* Dashboard container */
.dashboard {
  max-width: 900px;
  margin: auto;
  padding: 30px 20px;
  text-align: center;
}

/* Title */
.dashboard h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

/* Card UI */
.card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

/* Temperature text */
.temp {
  font-size: 2rem;
  font-weight: bold;
}

/* Status styles */
.status-normal {
  color: #16a34a;
  font-weight: bold;
}

.status-high {
  color: #dc2626;
  font-weight: bold;
}

/* Graph container */
.chart-box {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}